/* VARIABLES */

// colors
$primary-shade: rgb(36, 140, 199);
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #28a745;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ff9800;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$theme-colors: (
  primary: $primary-shade,
  secondary: $primary-shade,
  success: $green,
  info: #607d8b,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);
$brand-primary: $primary-shade;
$brand-success: $accent-shade;
$brand-info: $cyan;
$brand-warning: $yellow;
$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: none;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
// $breadcrumb-divider: quote(">");


$btn-color: $white !important;

$focus-ring-opacity: .25;
$focus-ring-color: rgba($accent-shade, $focus-ring-opacity);
$input-focus-border-color: lighten($accent-shade, 25%);

$pagination-active-bg: $accent-shade;
$pagination-active-border-color: $accent-shade;
$pagination-hover-bg: $accent-shade;
$pagination-hover-border-color: $accent-shade;
$pagination-hover-color: $white;

$navbar-dark-color: $white;

$carousel-control-color: $white;
$carousel-control-icon-width: 2rem;
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='#{$carousel-control-color}'><path d='M576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320zM335 199C344.4 189.6 359.6 189.6 368.9 199C378.2 208.4 378.3 223.6 368.9 232.9L281.9 319.9L368.9 406.9C378.3 416.3 378.3 431.5 368.9 440.8C359.5 450.1 344.3 450.2 335 440.8L231 337C221.6 327.6 221.6 312.4 231 303.1L335 199z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='#{$carousel-control-color}'><path d='M64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320zM305 441C295.6 450.4 280.4 450.4 271.1 441C261.8 431.6 261.7 416.4 271.1 407.1L358.1 320.1L271.1 233.1C261.7 223.7 261.7 208.5 271.1 199.2C280.5 189.9 295.7 189.8 305 199.2L409 303C418.4 312.4 418.4 327.6 409 336.9L305 441z'/></svg>");


$nav-underline-link-active-color: $accent-shade;

$nav-tabs-link-hover-border-color: $primary-shade;
